$app-bg: #f7f6f6;
$main-color: darkcyan;
$main-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);


$accordion-bg: $app-bg;
$accordion-button-focus-box-shadow: none;

$input-btn-focus-box-shadow: $main-shadow !important;
$form-select-focus-box-shadow: $main-shadow !important;


$dropdown-link-hover-bg: #fff;
$dropdown-link-active-bg: #fff;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-border-color: #fff;

$spinner-width: 1.5rem !important;
$spinner-border-width: 0.2em !important;
