
$main-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);

$accordion-button-focus-box-shadow: none;

$input-btn-focus-box-shadow: $main-shadow !important;
$form-select-focus-box-shadow: $main-shadow !important;

$primary: rgb(79, 70, 229);