
$main-color: #02b1b4;
$main-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);

$accordion-button-focus-box-shadow: none;

$input-btn-focus-box-shadow: $main-shadow !important;
$form-select-focus-box-shadow: $main-shadow !important;

$primary: rgb(79, 70, 229);

$dropdown-link-hover-bg: #fff;
$dropdown-link-active-bg: #fff;