@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';


$accordion-button-active-bg: white;
$accordion-button-focus-box-shadow: none;
$accordion-button-padding-y: 10rem;